body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    text-align: center;
    background-color: rgb(1, 20, 21);
}
.ai-girl{
    height: 50%;
    filter: drop-shadow(0px 0px 15px rgb(19, 87, 112));
    margin-top: 80px;
}
h1{
    background-color: rgba(14, 51, 51, 0.595);
    width: fit-content;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    margin-top: -.7rem;
    padding: 15px 50px;
    color: white;
    word-spacing: 5px;
    letter-spacing: 5px;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: "Oswald", serif;
}
.name{
    color: rgb(212, 43, 122);
}
.job{
    color: rgb(43, 206, 212);
}
button{
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 158, 212);
    font-family: "Afacad Flux", sans-serif;
}
button:hover{
    letter-spacing: 5px;
    transition-duration: 0.5s;
}
.voice{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
}
div{
    margin-top: -50px;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    visibility: hidden; 
}
p{
    margin-top: 0px;
    letter-spacing: 5px;
    font-size: 20px;
}

@media (576px >= width){
    .main{
        height: 100%;
        padding-bottom: 10%;
    }
    .ai-girl{
        width: 100%;
    }
}